root, #pbinavSearchBox {
	--colorReport: hsl(237, 68%, 37%);
	--colorWorkspace: hsl(325, 100%, 34%);
	--colorDataset: hsl(25, 100%, 37%);
	--colorDataflow: hsl(45, 100%, 29%);
	--colorDashboard: hsl(185, 41%, 33%);
}
.theme-default {
	--boxBorderColor: #307865;
	--boxShadow: rgba(0, 0, 0, 0.25);
	--boxGlow: #fafafa;
	--boxBackgroundColor: white;
	--itemColor: #000;
	--itemColorHover: #000;
	--itemBackground: #f0f0f0;
	--iconFilter: invert(0%);
}
.theme-unicorn {
	--boxBorderColor: #F85CA5;
	--boxShadow: #FFBCCDaa;
	--boxGlow: #FEEB8Faa;
	--boxBackgroundColor: #fff;
	--itemColor: turquoise;
	--itemColorHover: hotpink;
	--itemBackground: #B7EAF388;
	--iconFilter: hue-rotate(185deg) brightness(1.5);
}
.theme-dark {
	--boxBorderColor: #E1E5EB;
	--boxShadow: #383D4655;
	--boxGlow: #0070D2;
	--boxBackgroundColor: #212121;
	--itemColor: #8BA8E2;
	--itemColorHover: #8BA8E2;
	--itemBackground: #0f0f0f;
	--iconFilter: invert(100%) hue-rotate(185deg) brightness(1.5);
}
.theme-solarized {
	--boxBorderColor: #0E2B36;
	--boxShadow: #A5782755;
	--boxGlow: #5697D3;
	--boxBackgroundColor: #FBF6E3;
	--itemColor: #A57827;
	--itemColorHover: #59A39B;
	--itemBackground: #173642;
	--iconFilter: hue-rotate(240deg);	
}

#pbinavSearchBox {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .2s;
	overflow:hidden;
	z-index: -1;
	background-color:#1797c0;
	top:20%;
	left:20%;
	position:fixed;
	padding:9px;
	width:50%;
	border: 1px solid var(--boxBorderColor);
	border-radius: 4px;
	box-shadow: 0 0 3px var(--boxGlow), var(--boxShadow) 0px 6px 20px 0px;
	background-color: var(--boxBackgroundColor);
	font-family: Helvetica, Arial, sans-serif;
}
#pbinavSearchBox .pbinav_wrapper {
	background: var(--boxBackgroundColor);
	position:relative;
	height: 48px;
	display: flex;
}
#pbinavSearchBox .pbinavOutput {
	max-height:640px;
	overflow:auto;
}
.pbinav_shadow {
	max-height:100%;
	overflow:auto;
}
.pbinav_child:hover {
	color: var(--itemColorHover);
}
.pbinav_child {
	display:block;
	color:var(--itemColor);
	font-size: 16px;
	text-decoration: none;
}
#pbinavSearchBox input {
	position: relative;
	flex: 1;
	display: inline-block;
	width:90%;
	outline: none;
	background-color:var(--boxBackgroundColor);
	border:none;
	color:var(--itemColor);
	font-size:24px;
}
.pbinav_selected {
	background-color:var(--itemBackground);
	color:var(--itemColorHover);
}
#pbinav_logo {
	filter:  var(--iconFilter);
	width:48px;
	height:48px;
	display: inline-block;
}
#pbinavLoader {
	visibility: hidden;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: auto;
	margin-bottom: auto;
}

[*|href='#people_community_20_regular'] {fill:var(--colorWorkspace) !important;}
[*|href='#person_20_regular'] {fill:var(--colorWorkspace) !important;}
[*|href='#data_bar_vertical_20_regular'] {fill:var(--colorReport) !important;}
[*|href='#calendar_month_20_regular'] {fill:var(--colorDataset) !important;}
[*|href='#branch_fork_20_regular'] {fill:var(--colorDataflow) !important;}

.pbinav_child .pbIcon {
	clear: both;
    height: 0.9em;
    width: 0.9em;
	position: relative;
	top: 0;
	float:right;
	height: 0.9em;
	width: 0.9em;
	mask-repeat: no-repeat;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
}
[data-icon="dataflow"] .pbIcon {
    background-color: var(--colorDataflow);
	mask-image: url(chrome-extension://__MSG_@@extension_id__/images/Dataflow.svg);
	-webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/images/Dataflow.svg);
}
[data-icon="dataset"] .pbIcon {
	background-color: var(--colorDataset);
	mask-image: url(chrome-extension://__MSG_@@extension_id__/images/Dataset.svg);
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/images/Dataset.svg);
}
[data-icon="workspace"] .pbIcon {
	background-color: var(--colorWorkspace);
    mask-image: url(chrome-extension://__MSG_@@extension_id__/images/Workspace.svg);
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/images/Workspace.svg);
}
[data-icon="report"] .pbIcon {
    background-color: var(--colorReport);
	mask-image: url(chrome-extension://__MSG_@@extension_id__/images/Report.svg);
	-webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/images/Report.svg);
}
